<!-- START CONTENT -->
<section class="container clearfix">
  <!-- Page Title -->
  <header class="container page_info clearfix">
    <h1 class="regular brown bottom_line">Frequently Asked Questions</h1>
    <div class="clear"></div>
  </header>
  <!-- /Page Title -->
		
  <div class="container">
    <% @faqs.each do |faq| %>
    <% if !faq.show? %>
      <h3><%= faq.question %></h3>
      <p>
        <%= faq.answer %>
        <%= link_to 'Edit', edit_faq_url(faq) if current_user %>
      </p>
    <% end %>
    <% end %>
  </div>

  <div class="clear padding30"></div>

</section>
