<section class="container clearfix">
  <header class="container page_info clearfix">
    <h1 class="regular brown bottom_line">New Question</h1>
    <div class="clear"></div>
  </header>

<%= form_for @faq, :html => {:class => "admin_form"} do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>

  <%= f.submit "Create", :class => "button white" %>

  <div class="clear padding25"></div>
<% end %>

</section>
