  <!-- footer -->
  <footer class="footer_bg_bottom clearfix">
    <div class="footer_bottom container">
      <div class="clear padding20"></div>
       
      <p>&copy; 2016 All Rights Reserved. &nbsp;</p>

      <div class="clear padding15"></div>
    </div>
  </footer>
  <!-- /footer -->