  <!-- footer -->
  <footer class="footer_bg_bottom clearfix">
    <div class="footer_bottom container">
        <div class="clear padding20"></div>

        <!-- START SOCIALS -->
        <div class="portfolio_social">	
          <ul >
            <li><%= link_to (image_tag 'samples/facebook_32.png', :alt => "Facebook"), "#" %></a></li>
            <li><%= link_to (image_tag 'samples/twitter_32.png', :alt => "Twitter"), "#" %></a></li>
            <li><%= link_to (image_tag 'samples/linkedin_32.png', :alt => "Linkedin"), "#" %></a></li>
          </ul>
        </div>
        <!-- END SOCIALS -->

        <p>&copy; Some Rights Reserved. &nbsp; <a href="#">Legal Notices</a></p>
      </div>


      <div class="clear padding20"></div>
    </div>
  </footer>
  <!-- /footer -->