  <header class="header_bg clearfix">
  <div class="container clearfix">
    <nav>

      <!-- Logo -->
      <div class="logo">
        <a href="index.html"><img src="/assets/samples/logo.png" alt="" /></a>
      </div>
      <!-- /Logo -->

      <!-- Master Nav -->
      <nav class="main-menu">
        <ul>
          <li><%= link_to 'Home', root_url %></li>
          <li><%= link_to 'Location', home_location_url %></li>
          <li><%= link_to 'FAQ', faqs_url %></li>
        	<li><%= link_to 'Contact', home_contact_url %></li>
         </ul>
       </nav>
       <!-- /Master Nav -->

    </div>
  </header>

  <div class="clear"></div>