<!-- START CONTENT -->
<section class="container clearfix">
  <!-- Page Title -->
  <header class="container page_info clearfix">
    <h1 class="regular brown bottom_line">Location</h1>
  </header>
  <!-- /Page Title -->

  <!-- START CONTENT SIDE -->
  <div class="content clearfix">
    <!-- START BLOG POST -->
    <article class="blog_post clearfix">
      <!-- START LEFT POST SIDE -->
      <aside class="left_side">
	<!-- START DATE -->
        <!-- END DATE -->
      </aside>
      <!-- END LEFT POST SIDE -->
				
      <!-- START RIGHT POST SIDE -->
      <section class="right_side">
	<div class="block_post">
	  <iframe width="570" height="360" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=207271431422705763970.0004da868cba8501b68d6&amp;ie=UTF8&amp;t=m&amp;ll=10.354141,123.914709&amp;spn=0.007599,0.012231&amp;z=16&amp;output=embed"></iframe><br /><small>View <a href="https://maps.google.com/maps/ms?msa=0&amp;msid=207271431422705763970.0004da868cba8501b68d6&amp;ie=UTF8&amp;t=m&amp;ll=10.354141,123.914709&amp;spn=0.007599,0.012231&amp;z=16&amp;source=embed" style="color:#0000FF;text-align:left">10.354170, 123.914690</a> in a larger map</small>
	</div>
      </section>
      <!-- END RIGHT POST SIDE -->
    </article>
    <!-- END BLOG POST -->
			
    <div class="clear"></div>
  </div>
  <!-- END CONTENT SIDE -->
		
  <!-- START SIDEBAR SIDE -->
  <div class="sidebar">
    <!-- START CATEGORIES -->
      <div class="widget">
        <h2><span>Distance (km)</span></h2>
	<div class="categories">
	<ul class="arrow_list">
    <li>University of San Carlos Talamban Campus (0.3)</li>
	  <li>North General Hospital (2.5)</li>
	  <li>Cebu IT Park (2.6)</li>
	  <li>Ayala Center Cebu (4.0)</li>
    <li>SM City Cebu (5.0)</li>
    <li>Cebu Port Center (6.0)</li>
    <li>University of San Carlos (Main) (8.5)</li>
    <li>Mactan-Cebu International Airport (10.0)</li>
	</ul>
  </div>
</div>
<!-- END CATEGORIES -->
    
    <!-- START LAST TWEETS -->
    <!--div class="widget">
      <h2><span>Distances</span></h2>
      <div class="tweet">
        <div class="title">@Greepit.com</div>
	<p>Sure, just open them in a code editor. Same as any other theme.</p>
	<div class="hour">1 hour ago</div>
	<div class="clear"></div>
      </div>
    </div-->
    <!-- END LAST TWEETS -->
			
    <!-- START RECENT BLOG POST -->			
      <!--div class="widget">
	<h2><span>Recent Posts</span></h2>
	<div class="recent_post">
	  <div class="image"><img src="images/blog_thumbs_1.jpg" alt="" /></div>
	  <div class="text">
	    <a href="#" class="title">I am a super blog heading, isn't it?</a>
	    <div class="clear"></div>
            <div class="time">March 21, 2012</div>
	    <div class="comments">10 comments</div>
	    <div class="clear"></div>
	  </div>
	  <div class="clear"></div>
	</div>
      </div-->
    <!-- END RECENT BLOG POST -->
			
  </div>
  <!-- END SIDEBAR SIDE -->
		
  <div class="clear padding40"></div>
</section>
<!-- END CONTENT --> 
