.dataTables_length { position:relative;width:350px;float:left; }
.dataTables_length label { width:400px; }


.dataTables_filter { float:right;width:300px; }
.dataTables_filter label { width:350px; }
.dataTables_filter input { border: 1px solid green;width:250px; }

.dataTables_info  { text-align: center; }

.dataTables_paginate { text-align: center; }
.dataTables_paginate a { padding:0 5px; }
