// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


table { border-collapse:collapse; }

table, th, td { border: 1px dotted black; }

table.no_border, table.no_border th, table.no_border td { border: none; }

.left { text-align: left!important;padding-left:10px; }

.right { text-align: right!important;padding-right:10px; }

.center { text-align: center!important; }

ul#occupancy_list li { 
  border: 1px solid #ccc;
  float: left;
  width: 200px;
  margin: 10px 10px 0 0;
  padding: 20px 5px 10px;
  text-align: center; 
  min-height: 230px;
  position: relative;
}

#occupants {
  background-color: #dbeefe;
  color: #4180cf;
  font-size: 14px;
  padding: 5px;
  line-height: 1.5em;
  height: 95px;
  margin-bottom: 10px;
  font-weight: bold;
  -moz-border_radius: 5px;
  border-radius: 5px;
  
}

#vacant {
  background-color: #fff1d1;
  color: #d97939;
  font-size: 22px;
  vertical-align: middle;
  padding: 10px 5px;
  -moz-border_radius: 5px;
  border-radius: 5px;
}

#actions {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  padding: 5px;
  height: 70px;
}


a.styled_links { 
  background: #b8b8b8;
  color: #000!important;
  padding: 8px 10px;
  border-radius:3px;
  font-size:11px;
}

.narrow label {
  width:140px;
  text-align: center;
  clear:left;
}

.narrow input[type='text']{
  width: 120px;
}

table.admin_table { width:100%;font-size:10px;table-layout:fixed; }

table.admin_table td.left  { text-align:left;padding-left:2px; }

table.admin_table td.right { text-align:right;padding-right:2px; }