<!-- START CONTENT -->
<section class="container clearfix">
  <!-- Page Title -->
  <header class="container page_info clearfix no_print">
    <h1 class="regular brown bottom_line">Settings</h1>
    <div class="clear"></div>
  </header>
  <!-- /Page Title -->

  <div class="col_1_4 no_print">
    <%= render :partial => '/shared/menu_sidebar' %>
  </div>
  
  <div class="col_3_4 last">
    <!--h3 class="red">Settings</h3-->
    
    <h3 class="no_print">Billing Statements</h3>
    
    <p id="notice"><%= notice %></p> 
        
    <%#= link_to 'Electricity Readings', electricity_reading_billing_url(@billing.id), class: "styled_links no_print" %>
    <%#= link_to 'Water Readings', water_reading_billing_url(@billing.id), class: "styled_links no_print" %>
    <%= link_to 'Print Statements', billing_billing_details_url(@billing.id, format: 'pdf'), class: "styled_links no_print" %>
    
   <div class="clear padding20"></div>
   
   <%= render 'detail' %>
      
    <div class="clear padding15"></div>
    
  </div>

</section>